@import "../../styles/mixins";
@import "../../styles/variables";

.menu {
  visibility: hidden;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 30000;
  pointer-events: all;
  background-color: $color-light;

  &__container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq(phone, max) {
      align-items: center;
    }
  }

  &__wrapper-contact {
    margin-left: 3vw;
    z-index: 1001;

    @include mq(phone, max) {
      margin-top: 5rem;
    }

    .timezone-wrapper {
      display: flex;
      margin: 0;
    }

    .timezone-wrapper > p:nth-child(1) {
      padding-right: 1rem;
    }
  }

  &__wrapper-links {
    margin-top: 10vh;
    height: 60vh;
    counter-reset: menu;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1) 0s;

    @include mq(tablet-wide, max) {
      height: 40vh;
      justify-content: flex-start;
      padding-right: 5rem;
    }

    @include mq(tablet-small, max) {
      padding-right: 0;
    }

    @include mq(phone, max) {
      padding-right: 0;
    }
  }

  &__wrapper-links:hover > div {
    opacity: 0.2;
    filter: blur(2px);
  }

  &__wrapper-links:hover > div:hover {
    opacity: 1;
    filter: blur(0px);
  }

  &__item {
    position: relative;
    counter-increment: menu;
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1) 0s;

    @include mq(tablet-wide, max) {
      padding-bottom: 5rem;
    }

    a {
      position: relative;
      line-height: 70%;
      color: $color-black;
      text-transform: uppercase;
      font-size: 125px;
      top: 150px;

      @include mq(tablet-wide, max) {
        font-size: 110px;
      }

      @include mq(tablet-small, max) {
        font-size: 50px;
      }

      @include mq(phone, max) {
        font-size: 50px;
      }
    }

    a::before {
      position: absolute;
      bottom: -1.7rem;
      left: -2rem;
      font-size: 1.3rem;
      color: black;

      content: "0" counter(menu);
      text-align: end;

      @include mq(phone, max) {
        bottom: -0.3rem;
        font-size: 1rem;
      }
    }

    &:nth-child(2) {
      margin-left: 36vw;

      @include mq(tablet-small, max) {
        margin-left: 25vw;
      }

      @include mq(phone, max) {
        margin-left: initial;
      }
    }

    &:nth-child(3) {
      margin-left: 15vw;

      @include mq(tablet-small, max) {
        margin-left: 35vw;
      }

      @include mq(phone, max) {
        margin-left: initial;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 120px;
      left: -40px;
      width: 200%;
      height: 200%;
      background-color: $color-light;
      margin: 0 auto;

      @include mq(phone, max) {
        height: 400%;
      }
    }
  }
}
