// COLORS

$background-color: #e1dfd6;
$color: #3d3c39;
$color-light: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 9%);
$color-grey: hsl(199, 16%, 80%);
$color-olive: #879f87;

$container-margin: 0 2.75vw;
