@import "../../styles/mixins";
@import "../../styles/variables";

$h2-fs: 1rem;
$h1-fs: 6.5rem;
$image-border-radious: 1rem;

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.project {
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: justify;

  //opacity: 0;

  border: 1px solid transparent; //without border my intro animation doesn't take all screen

  @include mq(tablet-wide, max) {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @include mq(phone, max) {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  &__header {
    margin-top: 12.5rem;

    @include mq(phone, max) {
      margin-top: 8rem;
    }
  }

  &__container {
    max-width: 1020px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 100%;
    max-width: 100%;
  }

  &__small-title,
  &__bg-title {
    position: relative;
    z-index: 2;

    h1 {
      line-height: 1.15;
      text-align: center;
      font-size: $h1-fs;
      text-transform: uppercase;

      @include mq(phone, max) {
        line-height: 0.8;
        font-size: 4rem;
      }
    }

    h2 {
      font-size: $h2-fs;
      letter-spacing: 0.16rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
    }
  }

  &__image-wrapper {
    border-radius: $image-border-radious;
    overflow: hidden;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include mq(phone, max) {
      height: 40vh;
    }

    img {
      @include mq(phone, max) {
        height: 40vh;
        object-fit: cover;
      }
    }
  }

  &__link-wrapper {
    width: 100%;
    margin-bottom: 4rem;

    position: absolute;
    z-index: 10;
  }

  &__text-wrapper {
    position: relative;
    display: flex;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;

    flex-direction: column;

    padding: 2rem 1rem;

    @include mq(phone, max) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 1rem;
    }
  }

  &__text-wrapper:not(:nth-child(2)) {
    margin-bottom: 6rem;
  }

  &__text-headline {
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    letter-spacing: 0.37em;
    line-height: 1;
    text-transform: uppercase;

    @include mq(phone, max) {
      font-size: 2rem;
    }

    b {
      margin-right: 12px;
    }
  }

  &__text-description {
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.7;

    @include mq(phone, max) {
      font-size: 1.3rem;
    }

    p {
      font-weight: 300;
      font-style: normal;
      font-size: 1.5rem;
      line-height: 1.7;
    }

    ol {
      padding-left: 50px;
      flex: 2;

      @include mq(phone, max) {
        padding-left: 0;
      }
    }

    li {
      color: #4f4f4f;
      padding-left: 16px;
      margin-top: 24px;
      position: relative;
      font-size: 1.2rem;
    }
  }

  &__space-element {
    height: 20vh;
    @include mq(tablet-wide, max) {
      height: 10vh;
    }

    @include mq(phone, max) {
      height: 5vh;
    }
  }

  &__sticky-image {
    border-radius: $image-border-radious;
    overflow: hidden;
    position: relative;
    aspect-ratio: 16/9;
    margin-bottom: 6rem;

    @include mq(phone, max) {
      aspect-ratio: 16/12;
    }

    .image-bottom {
      position: absolute;
      bottom: -100vh;
      top: -100vh;
      left: 0;
      right: 0;

      @include mq(phone, max) {
        display: none;
      }
    }

    .image-top {
      max-height: 100vh;
      position: absolute;
      top: -100vh;
      bottom: 0;
      left: 0;
      right: 0;

      @include mq(phone, max) {
        top: 0;
      }
    }
  }

  &__mobile-mockups {
    display: flex;
  }

  &__image-wrapper-left {
    flex: 2;
    margin-top: 1rem;

    @include mq(phone, max) {
      display: none;
    }

    img {
      border-radius: 30px;
    }
  }

  &__image-wrapper-right {
    flex: 1;
  }

  &__menu-wrapper {
    padding: 0 1rem;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-bottom: 1px solid $color-grey;

    .social-media-link {
      display: inline-block;
      overflow: hidden;
      position: relative;
    }

    .social-media-link::after,
    .social-media-link::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
    }

    .social-media-link::after {
      content: attr(data-txt);
      display: inline-block;
      height: 100%;
      left: 0;
      position: absolute;
      transform-origin: 50% 100%;
      transform: translate3d(0, 200%, 0);
      transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
      font-size: 5rem;
      font-weight: 700;
    }

    .social-media-link:hover::after {
      transform: translate3d(0, 0, 0);
    }

    .social-media-link span {
      font-size: 5rem;
      font-weight: 700;
      display: inline-block;
      transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .social-media-link:hover span {
      transform: translate3d(0, -200%, 0);
    }
  }
}

.project-helper {
  height: 40vh;

  @include mq(tablet-wide, max) {
    height: 5vh;
  }

  @include mq(phone, max) {
    display: none;
  }
}
